root = true

[{*.gradle,*.properties,*.java,*.json,*.accesswidener}]
charset = utf-8
end_of_line = lf
indent_style = tab
insert_final_newline = true
max_line_length = 120

[*.properties]
ij_properties_keep_blank_lines = true
